.kyarboard {
    width: 500px;
    height: 500px;
    display: grid;
    border: 2px solid #333;
    grid-template-columns: repeat(8, 62.5px);
    grid-template-rows: repeat(8, 62.5px);
    margin: 15px 0;
}

